In [1]:
import pandas as pd

df = pd.read_csv('full_captions_taxons_dataset.csv').rename({'new_captions': 'captions'}, axis=1)
df

,filename,species,captions
0,Lion_waiting_in_Namibia.jpg,Panthera leo,['This is an example of species Panthera leo.'...
1,Okonjima_Lioness.jpg,Panthera leo,['This is an example of species Panthera leo.'...
2,Squirrel_posing.jpg,Sciurus vulgaris,['This is an example of species Sciurus vulgar...
3,Ekorre_8218.jpg,Sciurus vulgaris,['This is an example of species Sciurus vulgar...
4,Hepatitis_B_virus_1.jpg,Hepatitis B virus,['This is an example of species Hepatitis B vi...
...,...,...,...
215032,Psalidognathus_sallei_2.jpg,Psalidognathus sallei,['This is an example of species Psalidognathus...
215033,Hemiptarsenus_jilinus_(10.3897-zookeys.1033.62...,Hemiptarsenus jilinus,['This is an example of species Hemiptarsenus ...
215034,Campanula_adiyamanensis.jpg,Campanula adiyamanensis,['This is an example of species Campanula adiy...
215035,"Cercopis_septemmaculata_(DSCN0578,_crop_0480x0...",Cercopis septemmaculata,['This is an example of species Cercopis septe...
215036,Nitela_philippinica_02.jpg,Nitela philippinica,['This is an example of species Nitela philipp...

In [3]:
from ast import literal_eval

df['captions'] = df.apply(lambda x: [y.strip("'") for y in literal_eval(x['captions'])], axis=1)

In [4]:
test_data = df[df.duplicated('species')].sample(frac=0.75, random_state=133)
test_data

,filename,species,captions
212721,Notoreas_edwardsi_male.jpg,Notoreas edwardsi,[This is an example of species Notoreas edward...
120943,DodonaeaUpUn_548_549_AC1.jpg,Amblypodia dodonaea,[This is an example of species Amblypodia dodo...
88395,Oreomystis_mana.jpg,Oreomystis mana,[This is an example of species Oreomystis mana...
43945,Simarouba_versicolor_(4844311945).jpg,Simarouba versicolor,[This is an example of species Simarouba versi...
81228,Andesia_s.l._pessota_male.jpg,Austramathes pessota,[This is an example of species Austramathes pe...
...,...,...,...
8894,Montagne_d'Ambre_leaf_chameleon_(Brookesia_tub...,Brookesia tuberculata,[This is an example of species Brookesia tuber...
19079,Tmetolophota_paraxysta_male.jpg,Tmetolophota paraxysta,[This is an example of species Tmetolophota pa...
178288,Basidioradulum_radula_61770261.jpg,Basidioradulum radula,[This is an example of species Basidioradulum ...
34206,Pediocactus_nigrispinus_fh_10_OR_B.jpg,Pediocactus nigrispinus,[This is an example of species Pediocactus nig...
138842,Stork-billed_Kingfisher_I_IMG_7407.jpg,Pelargopsis capensis,[This is an example of species Pelargopsis cap...

In [5]:
train_data = df.drop(test_data.index, axis=0)
train_data

,filename,species,captions
0,Lion_waiting_in_Namibia.jpg,Panthera leo,"[This is an example of species Panthera leo., ..."
2,Squirrel_posing.jpg,Sciurus vulgaris,[This is an example of species Sciurus vulgari...
3,Ekorre_8218.jpg,Sciurus vulgaris,[This is an example of species Sciurus vulgari...
4,Hepatitis_B_virus_1.jpg,Hepatitis B virus,[This is an example of species Hepatitis B vir...
5,Stegobium.paniceum.jpg,Stegobium paniceum,[This is an example of species Stegobium panic...
...,...,...,...
215032,Psalidognathus_sallei_2.jpg,Psalidognathus sallei,[This is an example of species Psalidognathus ...
215033,Hemiptarsenus_jilinus_(10.3897-zookeys.1033.62...,Hemiptarsenus jilinus,[This is an example of species Hemiptarsenus j...
215034,Campanula_adiyamanensis.jpg,Campanula adiyamanensis,[This is an example of species Campanula adiya...
215035,"Cercopis_septemmaculata_(DSCN0578,_crop_0480x0...",Cercopis septemmaculata,[This is an example of species Cercopis septem...
215036,Nitela_philippinica_02.jpg,Nitela philippinica,[This is an example of species Nitela philippi...

In [6]:
train_data.to_json('train_dataset.json', orient='records')

In [7]:
test_data.to_json('test_dataset.json', orient='records')